/* ------------ Advantages or features------------- */
.advantages {
  width: 100%;
  display: block;
  padding: 60px 0px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    display: inline-block;
  }

  @include desktop {
    width: 100%;
    padding-bottom: 0;
  }

  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 100%;
  }
}

/* .advantages-title {
  class visually-hidden
} */

.advantages__list {
  @include mobile {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  @include desktop {
    display: flex;
    column-gap: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.advantages__list .advantages__item {
  @include mobile {
    width: 100%;
    margin-top: 30px;
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
    margin-top: 0px;
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
    justify-content: center;
  }
}
// .advantages__item:not(:last-child) {
//   margin-right: 30px;
//   margin-left: 0;
// }

.advantages__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

/*.advantages__icon {
  transition: fill var(--primary-hover);
}*/

/*.advantages__icon:hover,
.advantages__icon:focus {
  fill: var(--secondary-color);
}*/

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include mobile {
    margin-top: 0px;
    text-align: center;
  }
  @include tablet {
    text-align: left;
  }
}

.advantages__text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-grey-color);
}
