/* ------------ Team-Members ------------- */

.team-members {
  margin-bottom: 0;
  background-color: var(--second-bg-color);
  /* background-color: tan;  temp color */
}

.team-members-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  /* or 117% or 42px */
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  /* align-items: center; */
  /* margin-left: auto; */
}

.team-member {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 428px;
  background-color: var(--primary-bg-color);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* align-items: center; */
  /* margin-left: auto; */
}

.team-member:not(:last-child) {
  margin-right: 30px;
  margin-left: 0;
}

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-grey-color);
  margin-bottom: 16px;
}

.team-wrapper .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border-radius: 50%;

  color: var(--socials-color);
  transition: background-color var(--primary-hover);
}

.socials-icon {
  fill: currentColor;
  transition: fill var(--primary-hover);
}

// .footer-socials-link:hover,
// .footer-socials-link:focus,
// .socials-link:hover,
// .socials-link:focus {
//   background-color: var(--secondary-color);
//   color: var(--primary-bg-color);
// }

.footer-socials-link,
.socials-link {
  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
  }
}
