/* ------------ Team-Members ------------- */

.team-members {
  background-color: var(--second-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;

  @include desktop {
    margin-bottom: 0;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-members-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 1.17;
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.team-list {
  @include mobile {
    display: block;
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  @include desktop {
    display: flex;
    column-gap: 30px;
  }
}

// .team-member {
//   padding-top: 30px;
//   padding-bottom: 24px;

//   @include desktop {
//     padding-bottom: 30px;
//   }

//   &__soc-list {
//     display: flex;
//     justify-content: center;
//     gap: 10px;
//     }
//   &__soc-icon {
//       fill:#AFB1B8;
//       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }

.team-member {
  background-color: var(--primary-bg-color);
  margin-bottom: 30px;
  opacity: 1;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  // border-radius: 0px 0px 4px 4px;

  @include tablet {
    width: calc((100% - 30px) / 2);
    margin-top: 30px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 428px;

    /* align-items: center; */
    /* margin-left: auto; */
  }
}

// .team-member:not(:last-child) {
//   margin-right: 30px;
//   margin-left: 0;
// }

.team-photo {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-grey-color);
  // margin-bottom: 16px;
}

.team-wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 30px;
  padding-bottom: 24px;

  @include desktop {
    // padding-top: 30px;
    padding-bottom: 30px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: var(--primary-bg-color);
    // // margin-bottom: 30px;
    // opacity: 1;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 0px 0px 4px 4px;
  }
}
// }

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 30px;
  // padding-bottom: 24px;

  @include desktop {
    // padding-top: 30px;
    // padding-bottom: 24px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: var(--primary-bg-color);
    // margin-bottom: 30px;
    // opacity: 1;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    //   0px 2px 1px rgba(0, 0, 0, 0.2);
    // border-radius: 0px 0px 4px 4px;
  }
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border-radius: 50%;

  color: var(--socials-color);
  transition: background-color var(--primary-hover);
}

.socials-icon {
  fill: currentColor;
  transition: fill var(--primary-hover);
}

// .footer-socials-link:hover,
// .footer-socials-link:focus,
// .socials-link:hover,
// .socials-link:focus {
//   background-color: var(--secondary-color);
//   color: var(--primary-bg-color);
// }

.footer-socials-link,
.socials-link {
  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
  }
}
